* {
  box-sizing: border-box;
  font-family: Montserrat, monospace;
}

body {
  width: 100%;
  margin: auto;
  text-align: center;
  height: 100%;
  color: rgba(27, 27, 27, 0.863);
}

body::after {
  content: "";
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.border {
  /* border: 1px solid rgba(252, 250, 250, 0.4); */
  border-radius: 4px;
}

.top {
  background: rgba(252, 250, 250, 0.4);
  margin: 0 auto;
  margin-top: 50px;
  width: 27%;
  min-width: 443px;
  font-weight: 500;
  padding: 10px 0;
  position: relative;
}

.top div {
  margin: 10px auto;
}

#title {
  display: inline;
}

#month {
  display: inline;
}

#total {
  font-size: 2em;
  margin: 22px auto;
}

#totalIncome {
  display: flex;
  background: rgb(51, 192, 173);
  text-align: left;
  width: 70%;
}

#totalIncome div {
  flex-basis: 50%;
  text-align: center;
}

#totalExpenses div {
  flex-basis: 50%;
  text-align: center;
}

#incomeValue {
  /* padding-right: 46px; */
}

#totalExpenses {
  display: flex;
  background: rgb(228, 55, 55);
  text-align: left;
  width: 70%;
}

#totalPercentage {
  background: #ebe5e5f2;
  font-size: 0.5em;
  line-height: 225%;
  height: 16px;
  width: 9%;
  text-align: center;
  margin-top: 11px;
  position: absolute;
  top: 161px;
  right: 86px;
  width: 21px;
}

.bar {
  /* background: rgba(252, 250, 250, 0.4); */
  width: 72%;
  margin: 50px auto;
}

.barItem {
  margin: 0 10px;
}

#expenseType {
  width: 4%;
  height: 23px;
}

#description {
  width: 25%;
}

#value {
  width: 10%;
}

.container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 50%;
  font-weight: 500;
  padding: 10px 0;
}

.green {
  color: rgb(51, 192, 173);
}

.red {
  color: rgb(228, 55, 55);
}

#left {
  background: rgba(252, 250, 250, 0.6);
  margin-right: 10px;
}

#right {
  background: rgba(252, 250, 250, 0.6);
  margin-left: 10px;
}


.container div {
  flex-basis: 42%;
  text-align: inherit;
  padding-top: 6px;
  padding-bottom: 6px;
}

ul {
  list-style-type: none;
  padding-right: 40px;
}

li {
  display: flex;
  justify-content: space-between;

  height: 0;
  overflow: hidden;
}

li.show {
  height: 2em;
}

/* animation */
.fade li {
  transition: all 0.4s ease-out;
  opacity: 0;
}

.fade li.show {
  opacity: 1;
}

/* move to left */
/* .fade li:hover {
  cursor: pointer;
  transform: translate(-20px, 0)
} */

.fade li:hover {
  cursor: pointer;
  animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(0, 0, 0);
  }
}


li div {
  white-space: nowrap; 
  width: 95px; 
  overflow: hidden;
  text-overflow:ellipsis;
}

button {
  border: 1px solid rgb(51, 192, 173);
    width: 34px;
    height: 27px;
    margin: 0 8px;
    border-radius: 4px;
    color: #ffff;
    font-size: 15px;
    background-color: rgb(51, 192, 173);
    cursor: pointer;
    font-weight: 400;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.15);
}

button:hover {
  background-color: rgb(35, 151, 136);
  border: 1px solid rgb(35, 151, 136);
}

button:active {
  opacity: 0.9;
}

button:focus {
  outline: 0;
}
